.btn {
  font-family: "Roboto";
  font-weight: 500;
  border-radius: 3px;
}

.btn {
  outline: none !important;
}

.btn-success {
  color: #FFFFFF;
  background-color: #2ECC71;
  border-color: #2ECC71;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  color: #FFFFFF;
  background-color: #0EAC51;
  border-color: #2ECC71;
}

.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  background-image: none;
}

.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #2ECC71;
  border-color: #2ECC71;
}

.btn-success .badge {
  color: #2ECC71;
  background-color: #FFFFFF;
}

.btn-tag {
  color: #FFFFFF;
  background-color: #0A0A1D;
  border-color: #0A0A1D;
}

.btn-tag:hover,
.btn-tag:focus,
.btn-tag:active,
.btn-tag.active,
.open .dropdown-toggle.btn-tag {
  color: #FFFFFF;
  background-color: #0A0A1D;
  border-color: #0A0A1D;
}

.btn-tag:active,
.btn-tag.active,
.open .dropdown-toggle.btn-tag {
  background-image: none;
}

.btn-tag.disabled,
.btn-tag[disabled],
fieldset[disabled] .btn-tag,
.btn-tag.disabled:hover,
.btn-tag[disabled]:hover,
fieldset[disabled] .btn-tag:hover,
.btn-tag.disabled:focus,
.btn-tag[disabled]:focus,
fieldset[disabled] .btn-tag:focus,
.btn-tag.disabled:active,
.btn-tag[disabled]:active,
fieldset[disabled] .btn-tag:active,
.btn-tag.disabled.active,
.btn-tag[disabled].active,
fieldset[disabled] .btn-tag.active {
  background-color: #0A0A1D;
  border-color: #0A0A1D;
}

.btn-tag .badge {
  color: #0A0A1D;
  background-color: #FFFFFF;
}

.btn-tag {
  font-weight: 300;
  font-size: 11px;
  margin-left: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;
  cursor: default;
}

.btn-danger {
  color: #FFFFFF;
  background-color: #C63E37;
  border-color: #C63E37;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  color: #FFFFFF;
  background-color: #A61E17;
  border-color: #C63E37;
}

.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  background-image: none;
}

.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
  background-color: #C63E37;
  border-color: #C63E37;
}

.btn-danger .badge {
  color: #C63E37;
  background-color: #FFFFFF;
}

.btn-primary {
  color: #FFFFFF;
  background-color: #3498DB;
  border-color: #3498DB;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.open .dropdown-toggle.btn-primary {
  color: #FFFFFF;
  background-color: #1478BB;
  border-color: #3498DB;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
  background-color: #286090;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #3498DB;
  border-color: #3498DB;
}

.btn-primary .badge {
  color: #3498DB;
  background-color: #FFFFFF;
}
