#page-container {
  box-sizing: border-box;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  padding-top: 20px;
}

.card {
width: 286px;
height: 315px;
margin: 20px;
}
