#page-container {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: flex;
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  overflow-y: scroll;
  padding-top: 20px;
}

.card {
  width: 286px;
  height: 315px;
  margin: 20px;
  cursor: pointer;
}

.card:hover {
  opacity: 0.6;
}
