@charset "UTF-8";
/* CSS Document */

body {
  margin: 0;
  padding: 0;
}

.container {
  height: 800px;
  width: 100%;
  background: #0e0b1f;
  margin: 0;
  padding: 0;
}

.top-menu {
  margin: 0;
  padding: 0;
  height: 60px;
  width: 100%;
  background-image: url(../img/menu_expand_V06-Recovered.jpg);
}

ul {
  margin: 0;
  padding: 0;
}

.display-children-inline > * {
  float: left;
}

li {
    list-style-type:none;
    text-align: left;
    padding: 0px;
}
