@charset "UTF-8";
/* CSS Document */

body {
  margin: 0;
  padding: 0;
}

.container {
  height: 800px;
  width: 100%;
  background: #0e0b1f;
  margin: 0;
  padding: 0;
}

.image-display {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
}

.display-children-inline > * {
  float: left;
}

li {
    list-style-type:none;
    text-align: left;
    padding: 0px;
}
