#pitaco-tree {
  stroke-width: 2;
  stroke-miterlimit: 10;
  opacity: 1;
  fill: #BBBBBB;
  stroke: #BBBBBB;
}

.pitaco-circle {
  stroke-width: 3;
  stroke-miterlimit: 10;
  opacity: 1;
}

.pitaco-circle:hover {
  opacity: 1;
}

#branch-icons-allergio:hover {
  fill: #2ecc71;
  stroke: #2ecc71;
}

#branch-texto-allergio:hover {
  fill: #f1c40f;
  stroke: #f1c40f;
}

#branch-similares-allergio:hover {
  fill: #1abc9c;
  stroke: #1abc9c;
}

#branch-layer-6:hover {
  fill: #e74c3c;
  stroke: #e74c3c;
}

#branch-layer-7:hover {
  fill: #e67e22;
  stroke: #e67e22;
}

#net-central:hover {
  fill: #FFFFFF;
  stroke: #FFFFFF;
  opacity: 1;
}
