#pitaco-net {
  width: 100%;
  height: 100%;
}

#pitaco-net text {
  font-family: 'Roboto';
}

#pitaco-net-filters text,
#button-dar-pitaco text,
#pitaco-net-svg text {
  fill: #FFFFFF;
}

#pitaco-net-filters text {
  cursor: default;
}

#project-info {
  position:fixed;
  height: 60px;
  cursor: default;
}

#author-info {
  position:fixed;
  height: 70px;
}

#button-dar-pitaco {
  position:fixed;
  bottom: 30px;
  right: 20px;
  height: 35px;
}

#button-dar-pitaco,
#button-seguir {
  opacity: 0.9;
  cursor: pointer;
}

#button-dar-pitaco:hover,
#button-seguir:hover {
  opacity: 1;
}

#button-dar-pitaco path,
#button-seguir path {
  fill: #3498DB;
}

#button-seguir.active-display {
  opacity: 1;
}
#button-seguir.active-display path {
  fill: #0e7c21;
}

#pitaco-net-filters {
  position:fixed;
  top: 80px;
  right: 20px;
  width: 100px;
}

#pitaco-tree {
  stroke-width: 2;
  stroke-miterlimit: 10;
  fill: #BBBBBB;
  stroke: #BBBBBB;
}

.pitaco-circle {
  stroke-width: 3;
  stroke-miterlimit: 10;
  opacity: 1;
}

.pitaco-circle:hover {
  opacity: 1;
}

#branch-icons-allergio:hover {
  fill: #2ecc71;
  stroke: #2ecc71;
}

.filters-activated > * {
  opacity: 0.3;
}
.filters-activated .active-display {
  opacity: 1;
}

.branch-filter-button {
  stroke-width: 16;
  stroke-linecap: round;
  cursor: pointer;
}
.branch-filter-button.active-display {
  stroke-width: 24;
}

#branch-filter-line {
  stroke-miterlimit: 10;
  stroke: #FFFFFF;
}

#branch-texto-allergio:hover,
#branch-texto-allergio.active-display,
#button-filter-branch-texto-allergio  {
  fill: #e74c3c;
  stroke: #e74c3c;
}

#branch-similares-allergio:hover,
#branch-similares-allergio.active-display,
#button-filter-branch-similares-allergio {
  fill: #1abc9c;
  stroke: #1abc9c;
}

#branch-layer-6:hover {
  fill: #e74c3c;
  stroke: #e74c3c;
}

#branch-layer-7:hover {
  fill: #e67e22;
  stroke: #e67e22;
}

#net-central {
  opacity: 1;
}

#net-central:hover {
  fill: #FFFFFF;
  stroke: #FFFFFF;
}
