#pitaco-net {
  width: 100%;
  height: 100%;
}

#pitaco-net text {
  font-family: 'Roboto';
}

#pitaco-net-filters text,
#button-dar-pitaco text,
#pitaco-net-svg text {
  fill: #FFFFFF;
}

#pitaco-net-filters text {
  cursor: default;
}

#button-dar-pitaco,
#button-seguir {
  opacity: 0.9;
  cursor: pointer;
}

#button-dar-pitaco:hover,
#button-seguir:hover {
  opacity: 1;
}

#button-dar-pitaco path,
#button-seguir path {
  fill: #3498DB;
}

#button-seguir.active-display {
  opacity: 1;
}
#button-seguir.active-display path {
  fill: #2ecc71;
}

#pitaco-tree {
  stroke-width: 2;
  fill: #BBBBBB;
  stroke: #BBBBBB;
}

#pitaco-net-project-author circle,
#pitaco-net-project-info circle {
  stroke-width: 2;
  stroke: #BBBBBB;
}

.pitaco-circle {
  stroke-width: 3;
  stroke-miterlimit: 10;
  opacity: 1;
}

.pitaco-circle:hover {
  opacity: 1;
}

.filters-activated > * {
  opacity: 0.3;
}
.filters-activated .active-display {
  opacity: 1;
}

.branch-filter-button {
  stroke-width: 16;
  stroke-linecap: round;
  cursor: pointer;
}
.branch-filter-button.active-display {
  stroke-width: 24;
}

#branch-filter-line {
  stroke-miterlimit: 10;
  stroke: #FFFFFF;
}

#net-central {
  opacity: 1;
}

#net-central:hover {
  fill: #FFFFFF;
  stroke: #FFFFFF;
}
