@charset "UTF-8";
/* CSS Document */

#sidebar-container {
  margin: 0;
  height: 100%;
  background: #252536;
  font-family: 'Roboto', sans-serif;
  position: fixed;
}

.sidebar-container-smaller #sidebar-container {
  width: 80px;
}
.sidebar-container-smaller #page-container {
  padding-left: 80px;
}

.sidebar-container-bigger #sidebar-container {
  width: 200px;
}
.sidebar-container-bigger #page-container {
  padding-left: 200px;
}

.sidebar-container-smaller #sidebar-profile-info,
.sidebar-container-smaller #sidebar-big-itens span,
.sidebar-container-smaller #sidebar-close-div
 {
  display: none;
}
.sidebar-container-bigger #sidebar-profile-info,
.sidebar-container-bigger #sidebar-big-itens span,
.sidebar-container-bigger #sidebar-close-div
 {
  display: initial;
}

#sidebar-expand-collapse {
  float: right;
  margin-right: 27px;
  margin-top: 20px;
  height: 19px;
  width: 16px;
}

#sidebar-expand-icon {
  height: 15px;
  width: 9px;
  background-size: cover;
  margin-left: 2px;
  margin-right: 5px;
  margin-top: 5px;
  margin-right: 2px;
}

.collapse-display #sidebar-expand-icon {
  background: url("../img/arrow_icon_left.png") no-repeat;
}


.expand-display #sidebar-expand-icon {
  background: url("../img/arrow_icon_right.png") no-repeat;
}

#sidebar-profile-info {
  margin-top: 15px;
  margin-left: 10px;
}

#sidebar-profile-image {
  width: 50px;
  height: 50px;
  margin: 10px;
}

#sidebar-name-area {
  padding-top: 60px;
  padding-bottom: 100px;
  padding-left: 5px;
}

#sidebar-link-area {
  padding-left: 20px;
}

#sidebar-big-itens a {
  text-decoration: none;
  color: white;
  font-size: 13px;
  line-height: 50px;
}

#sidebar-big-itens img {
  width: 25px;
  height: 25px;
  margin-left: 7px;
}

#sidebar-profile-name {
  color: white;
  font-size: 13px;
}

#sidebar-big-itens span {
  vertical-align: -1px;
  margin-left: 10px;
}

#sidebar-profile-edit {
  color: #3496d7;
  font-size: 12px;
  text-decoration: none;
}

#sidebar-profile-edit:hover {
  text-decoration: underline;
}
