@charset "UTF-8";
/* CSS Document */

.top-menu {
  margin: 0;
  padding: 0;
  height: 60px;
  width: 100%;
  background-color: #51515e;
  /*background-image: url(../img/menu_expand_V06-Recovered.jpg);*/
}

#logo-top-menu{
  padding-left: 10px;
  margin-top: 15px;
}

.top-buttons-area{
  float: right;
}
